$darkblue: #151d3b;
$red: #d82148;
$red2: #dd4a48;
$green: #6ebf8b;
$green2: #ecb390;
$beige: #dadbbd;
$beige2: #c0d8c0;
$white: #f5eedc;

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body {
  margin: 0;
}

.container {
  --blur: 0.35rem;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    // chrome, edge, safari, ...
    backdrop-filter: blur(var(--blur));
  }
}

.element-upfront {
  position: absolute;
  top: 50%;
  z-index: 101;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-btn {
  text-decoration: none;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  color: $white;
  border: 3px solid $red2;
  font-size: 2rem;
  font-style: normal;
  transition: all 250ms ease-in-out;
  filter: drop-shadow(5px 5px 0.2 black);
}
.homepage-btn:hover {
  transform: scale(1.3);
  border: 3px solid $white;
  color: $red2;
}
