$darkblue: #151d3b;
$red: #d82148;
$red2: #dd4a48;
$green: #6ebf8b;
$green2: #ecb390;
$beige: #dadbbd;
$beige2: #c0d8c0;
$white: #f5eedc;
$fire: #fdf482;
$purple: #7456d1;

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body {
  scroll-behavior: smooth;
  background: $red2;
}

#scroll-button {
  position: fixed;
  bottom: 2rem;
  color: $darkblue;
  right: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

#scroll-button:hover {
  transform: scale(1.5);
}

.container {
  --blur: 0.5rem;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    // chrome, edge, safari, ...
    backdrop-filter: blur(var(--blur));
  }
}

.element-upfront {
  position: absolute;
  top: 50%;
  z-index: 101;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-btn {
  text-decoration: none;
  padding: 2rem 2rem;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  font-family: input-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
  color: $purple;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 3.5rem;
  font-size: 2rem;
  font-style: normal;
  transition: all 250ms ease-in-out;
  filter: drop-shadow(0.5rem 0.5rem 1.5rem black);
}
.homepage-btn:hover {
  transform: scale(1.3);
  color: $white;
  filter: drop-shadow(0.5rem 0.5rem 1.5rem black);
}

.element-upfront .quote {
  font-family: input-sans, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 2.5rem;
  text-align: center;
  color: $beige2;
  margin-bottom: 3rem;
  transition: all 250ms ease-in-out;
  filter: drop-shadow(0.1rem 0.1rem 0.05rem black);

  padding: 2rem 2rem;
}

.element-upfront .quote:hover {
  transform: scale(1.1);
  color: $white;
  filter: drop-shadow(0.5rem 0.5rem 1.5rem black);
}

#navigation {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav-btn,
.logo-btn {
  font-family: apparat, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  text-decoration: none;
  color: $darkblue;
  padding: 2rem 2rem;
  transition: all 200ms ease-in-out;
}
.nav-btn {
  position: relative;
}

.nav-btn:hover {
  border-bottom: 0.6rem solid $purple;
  font-family: apparat, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: $darkblue;
  background-color: $white;
}

ul.list {
  list-style: none;
  background-color: $red2;
  display: flex;
  justify-content: center;
  padding: 2rem 2rem;
  align-items: center;
}

li.logo,
li.last {
  margin-right: auto;
}
li.logo a {
  color: $white;
  font-size: 3.5rem;
}

li.logo a:hover {
  color: $darkblue;
}

.case {
  background: url("../img/players.jpg") no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  .btn {
    background-color: $red2;
    color: $white;
    text-decoration: none;
    font-family: apparat, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    padding: 1.5rem 1.5rem;
    font-style: normal;
    margin-left: 55rem;
    transition: all 200ms ease-in-out;
  }
  .btn:hover {
    border-bottom: 0.3rem solid $purple;
    color: $darkblue;
    background-color: $white;
    transform: scale(1.1);
  }
  h1 {
    font-family: apparat, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    font-style: normal;
    color: $white;
    line-height: 7rem;
    margin-left: 50rem;
  }
}

.article-case {
  width: 90%;
  margin: 0 auto;
  height: 170rem;
  background: $darkblue;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(16rem, 0.3fr));
  grid-gap: 5rem;
  justify-content: center;

  .card {
    overflow: hidden;
    border: 1rem solid $red2;
    // box-shadow: 4px 4px $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    text-align: center;
    background: $red2;

    &__image {
      height: 28rem;
      width: 100%;
      object-fit: cover;
    }

    &__title {
      font-family: apparat, sans-serif;
      font-weight: bold;
      font-size: 3rem;
      padding: 2rem;
      color: $darkblue;
    }

    &__description {
      font-family: apparat, sans-serif;
      font-weight: normal;
      font-size: 2.5rem;
      padding: 0 1rem;
      color: $darkblue;
    }

    &__link {
      font-family: apparat, sans-serif;
      font-weight: bold;
      font-size: 2rem;
      text-decoration: none;
      padding: 1rem;
      color: $darkblue;

      &::after {
        content: "\f061";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: relative;
        left: 0.5rem;
        color: $darkblue;
      }
    }

    &:hover {
      border: 0.7rem solid $purple;
      transform: scale(1.03);
      background: $white;

      // border: 1px solid $white;
      // box-shadow: 8px 8px $white;
    }

    &:hover &__link::after {
      animation: arrow 1s ease-in-out infinite alternate;
    }
  }
}

@keyframes arrow {
  0% {
    left: 0.5rem;
  }
  100% {
    left: 1.5rem;
  }
}
