$primary: #18191e;
$lighter: #2c2e38;
$red: #d82148;
$red2: #dd4a48;
$green: #6ebf8b;
$green2: #ecb390;
$beige: #dadbbd;
$beige2: #c0d8c0;
$white: #f5eedc;
$fire: #fdf482;
$purple: #7456d1;
$hovergrd: linear-gradient(
  109.6deg,
  rgb(243, 136, 136) 11.2%,
  rgb(196, 157, 247) 75.1%
);

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ACTIVE STATE */

li a.active {
  background: $hovergrd;
  color: $primary;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body {
  scroll-behavior: smooth;
  background: $primary;
}

#scroll-button {
  position: fixed;
  bottom: 2rem;
  color: $white;
  right: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

#scroll-button:hover {
  transform: scale(1.5);
  color: $red2;
}

.container {
  --blur: 0.5rem;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    // chrome, edge, safari, ...
    backdrop-filter: blur(var(--blur));
  }
}

.element-upfront {
  position: absolute;
  top: 50%;
  z-index: 101;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-btn {
  text-decoration: none;
  padding: 2rem 2rem;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  font-family: input-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
  color: $purple;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 3.5rem;
  font-size: 2rem;
  font-style: normal;
  transition: all 250ms ease-in-out;
  filter: drop-shadow(0.5rem 0.5rem 1.5rem black);
}
.homepage-btn:hover {
  transform: scale(1.3);
  color: $white;
  filter: drop-shadow(0.5rem 0.5rem 1.5rem black);
}

.element-upfront .quote {
  font-family: input-sans, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 2.5rem;
  text-align: center;
  color: $beige2;
  margin-bottom: 3rem;
  transition: all 250ms ease-in-out;
  filter: drop-shadow(0.1rem 0.1rem 0.05rem black);

  padding: 2rem 2rem;
}

.element-upfront .quote:hover {
  transform: scale(1.1);
  color: $white;
  filter: drop-shadow(0.5rem 0.5rem 1.5rem black);
}

#navigation {
  position: sticky;
  width: 100%;
  z-index: 10;
}

#nowrapping {
  white-space: nowrap;
}

.nav-btn,
.logo-btn {
  font-family: apparat, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.2rem;
  text-decoration: none;
  color: $white;
  padding: 2rem 2rem;
  transition: all 200ms ease-in-out;
}

.nav-btn {
  position: relative;
  padding: 2rem;
}

.nav-btn:hover {
  border-style: solid;
  border-width: -0.4rem;
  border-image: $hovergrd 1;
}
ul.list {
  list-style: none;
  background-color: $lighter;
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  align-items: center;
}

li.logo,
li.last {
  margin-right: auto;
}
li.logo a {
  color: $white;
}

li.logo a:hover {
  color: $red2;
}

.case {
  background: url("../img/players.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  .btn {
    background-color: $primary;
    color: $white;
    text-decoration: none;
    font-family: apparat, sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    padding: 1.5rem 1.5rem;
    font-style: normal;
    margin-left: 57rem;
    transition: all 200ms ease-in-out;
  }
  .btn:hover {
    border-style: solid;
    border-width: 0.2rem;
    border-image: $hovergrd 1;
    transform: scale(1.05);
  }
  h1 {
    font-family: apparat, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    font-style: normal;
    color: $white;
    line-height: 7rem;
    margin-left: 50rem;
  }
}

.article-case {
  width: 90%;
  margin: 0 auto;
  height: 150rem;
  background: $primary;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(16rem, 0.3fr));
  grid-gap: 5rem;
  justify-content: center;

  #news-title {
    grid-column: 1 / -1;
    font-family: apparat, sans-serif;
    font-weight: normal;
    font-size: 4rem;
    color: $white;
    padding: 2rem 0;
  }

  #bottom-quote {
    grid-column: 1 / -1;
    font-family: apparat, sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    color: $white;
    padding: 2rem 0;
    line-height: 2.5rem;
  }

  .card {
    overflow: hidden;
    border: 0.6rem solid $white;
    // box-shadow: 4px 4px $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    text-align: center;
    background: $white;

    &__image {
      height: 28rem;
      width: 100%;
      object-fit: cover;
    }

    &__title {
      font-family: apparat, sans-serif;
      font-weight: bold;
      font-size: 2.5rem;
      padding: 2rem;
      color: $primary;
    }

    &__description {
      font-family: apparat, sans-serif;
      font-weight: normal;
      font-size: 2.2rem;
      padding: 0 1rem;
      color: $primary;
    }

    &__link {
      font-family: apparat, sans-serif;
      font-weight: bold;
      font-size: 2.2rem;
      text-decoration: none;
      padding: 1rem;
      color: $primary;

      &::after {
        content: "\f061";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: relative;
        left: 0.5rem;
        color: $primary;
      }
    }

    &:hover {
      border: none;
      transform: scale(1.03);
      background: $hovergrd;
      color: $primary;

      // border: 1px solid $white;
      // box-shadow: 8px 8px $white;
    }

    &:hover &__link::after {
      animation: arrow 1s ease-in-out infinite alternate;
    }
  }
}

@keyframes arrow {
  0% {
    left: 0.5rem;
  }
  100% {
    left: 1.5rem;
  }
}

// Contact Details Style

.contact {
  width: 90%;
  padding: 2rem;
  margin: 0 auto;
  height: 30rem;
  background-color: $primary;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 5rem;
  justify-content: center;
  align-items: center;

  &-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    border: 0.2rem dashed #33353f;
    padding: 5rem;
    line-height: 3rem;
    transition: all 250ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    p {
      font-family: apparat, sans-serif;
      font-weight: normal;
      font-size: 2.2rem;
      padding-top: 2rem;
      text-align: center;
    }

    .icon {
      transition: all 250ms ease-in-out;
      cursor: pointer;
    }
    .icon:hover {
      background: $hovergrd;
      // -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: scale(1.2);
    }
  }
}

#main-footer {
  width: 90%;
  margin: 5rem auto;
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(16rem, 0.9fr));
  grid-gap: 5rem;
  justify-content: center;
  text-align: center;
  p {
    color: $white;
    border-style: solid;
    border-width: 0.2rem;
    border-image: $hovergrd 1;
    font-family: apparat, sans-serif;
    font-weight: normal;
    font-size: 2.2rem;
    padding: 5rem;
  }
}

// Roster Gallery

.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 5rem;
  // background: $red2;
  width: 100%;
  margin: 0 auto;
  padding: 5rem;
  justify-content: center;
  align-items: center;

  #image-info {
    font-family: apparat, sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
    border: 0.1rem solid $primary;
    padding: 1.5rem;
  }

  // Image1

  .image1 {
    background: url("../img/roster-gallery/image1.jpg") center center/cover;
    border: 0.2rem solid $lighter;

    .image1-backside {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $hovergrd;
      opacity: 0;
      text-align: center;
      transition: all 1s ease-in-out;
    }
  }
  .image1:hover .image1-backside {
    opacity: 0.8;
    transition: all 1s ease-in-out;
  }

  .image1:hover {
    transform: scale(1.03);
    transition: all 1s ease-in-out;
    letter-spacing: 1rem;
  }

  // IMAGE 2
  .image2 {
    background: url("../img/roster-gallery/image2.jpg") center center/cover;
    border: 0.2rem solid $lighter;

    .image2-backside {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $hovergrd;
      opacity: 0;
      text-align: center;
      transition: all 1s ease-in-out;
    }
  }
  .image2:hover .image2-backside {
    opacity: 0.8;
    transition: all 1s ease-in-out;
  }

  .image2:hover {
    transform: scale(1.03);
    transition: all 1s ease-in-out;
    letter-spacing: 1rem;
  }

  .image3 {
    background: url("../img/roster-gallery/image3.jpg") center center/cover;
    border: 0.2rem solid $lighter;

    .image3-backside {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $hovergrd;
      opacity: 0;

      transition: all 1s ease-in-out;
    }
  }
  .image3:hover .image3-backside {
    opacity: 0.8;
    transition: all 1s ease-in-out;
  }

  .image3:hover {
    letter-spacing: 1rem;
    transform: scale(1.03);
    transition: all 1s ease-in-out;
  }
  .image4 {
    background: url("../img/roster-gallery/image4.jpg") center center/cover;
    border: 0.2rem solid $lighter;

    .image4-backside {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $hovergrd;
      opacity: 0;

      transition: all 1s ease-in-out;
    }
  }
  .image4:hover .image4-backside {
    opacity: 0.8;
    transition: all 1s ease-in-out;
  }

  .image4:hover {
    letter-spacing: 1rem;
    transform: scale(1.03);
    transition: all 1s ease-in-out;
  }
  .image5 {
    background: url("../img/roster-gallery/image5.jpg") center center/cover;
    border: 0.2rem solid $lighter;

    .image5-backside {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $hovergrd;
      opacity: 0;

      transition: all 1s ease-in-out;
    }
  }
  .image5:hover .image5-backside {
    opacity: 0.8;
    transition: all 1s ease-in-out;
  }

  .image5:hover {
    letter-spacing: 1rem;
    transform: scale(1.03);
    transition: all 1s ease-in-out;
  }
  .image6 {
    background: url("../img/roster-gallery/image6.jpg") center center/cover;
    border: 0.2rem solid $lighter;

    .image6-backside {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $hovergrd;
      opacity: 0;

      transition: all 1s ease-in-out;
    }
  }
  .image6:hover .image6-backside {
    opacity: 0.8;
    transition: all 1s ease-in-out;
  }

  .image6:hover {
    letter-spacing: 1rem;
    transform: scale(1.03);
    transition: all 1s ease-in-out;
  }

  .photo-area {
    width: 100%;
    height: 40rem;
    margin: 0 auto;
    // background: darkblue;
  }
}

// Roster Cards

.roster-box {
  background: $primary;
  width: 90%;
  margin: 0rem auto;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .roster-players {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 5rem;
    .player {
      background: $primary;
      height: 55rem;
      width: 25rem;
      .roster-top {
        height: 50%;
        background: $primary;

        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        transition: 0.5s;
        transform: translateY(50%);
        z-index: 1;

        h2,
        h3 {
          align-items: center;

          font-family: apparat, sans-serif;
          font-weight: normal;
          font-size: 3rem;
          color: $white;
        }

        img {
          width: 100%;
          max-height: 65%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .roster-bottom {
      height: 50%;
      background: $hovergrd;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
      transform: translateY(-50%);
      opacity: 0;
      transition: 0.5s;

      p {
        margin: 2rem 0;
        font-family: apparat, sans-serif;
        font-weight: normal;
        font-size: 2rem;
        line-height: 2.2rem;
        color: $primary;
        text-align: left;
        padding: 0 2rem 0;
      }
    }
  }
}

.roster-players .player:hover .roster-top {
  transform: translateY(0);
}
.roster-players .player:hover .roster-bottom {
  transform: translateY(0);
  opacity: 1;
}

// Tournaments

.tournaments {
  width: 90%;
  margin: 0 auto;
  // background: $red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .d2map {
    border-style: solid;
    border-width: 0.2rem;
    border-image: $hovergrd 1;
    transition: all 250ms ease-in-out;
    align-self: center;

    display: flex;

    .safe-lane {
      display: flex;
      flex-direction: row;

      gap: 0.2rem;
    }
  }

  .graphics {
    display: flex;
    flex-direction: column;

    padding: 3rem 0rem;
    // background: blue;
    width: 50%;

    gap: 1rem;

    .content {
      display: flex;
      width: 90%;
      flex-direction: column;

      justify-content: center;
      margin: 0 auto;
      // background: red;
      transition: all 250ms ease-in-out;

      .bar-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .title {
          margin: 1rem 0;
          font-family: apparat, sans-serif;
          font-weight: normal;
          font-size: 2rem;
          padding: 0 1rem;
          color: $white;
        }
        .right-fix {
          text-align: right;
        }
      }

      .tube-empty {
        background: $primary;
        width: 100%;
        height: 3.3rem;
        border-style: solid;
        border-width: 0.1rem;
        border-image: $hovergrd 1;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .primary-details {
          padding: 0 1rem;
          font-family: apparat, sans-serif;
          font-weight: normal;
          font-size: 2rem;
          color: $white;

          z-index: 1;
        }
        .details {
          padding: 0 1rem;
          font-family: apparat, sans-serif;
          font-weight: normal;
          font-size: 2rem;
          color: $white;

          z-index: 1;
        }
      }

      #tube1-fill {
        width: 68%;
        transform: translateY(-3.3rem);
        background: #162e34;
      }
      #tube2-fill {
        width: 43%;
        background: #162e34;
        transform: translateY(-3.3rem);
      }
      #tube3-fill {
        width: 73%;
        background: #162e34;
        transform: translateY(-3.3rem);
      }
      #tube4-fill {
        width: 86%;
        background: #162e34;
        transform: translateY(-3.3rem);
      }
      #tube5-fill {
        width: 100%;
        background: #162e34;
        transform: translateY(-3.3rem);
      }
      #tube6-fill {
        width: 100%;
        background: #162e34;
        transform: translateY(-3.3rem);
      }
      #tube7-fill {
        width: 100%;
        background: #162e34;
        transform: translateY(-3.3rem);
      }
      #tube8-fill {
        width: 100%;
        background: #162e34;
        transform: translateY(-3.3rem);
      }
      #tube9-fill {
        width: 100%;
        background: #162e34;
        transform: translateY(-3.3rem);
      }
    }
  }
}

.tournaments {
  .d2map:hover {
    transform: scale(1.05);
  }
  .graphics {
    .content:hover {
      transform: scale(1.05);
    }
  }
}

#composition-title {
  font-family: apparat, sans-serif;
  font-weight: bolder;
  font-size: 5rem;
  color: $white;

  text-align: right;
  justify-content: center;
  margin: 3rem auto;

  transition: all 1s ease-in-out;
}
.roster-box:hover #composition-title {
  color: $red2;
  letter-spacing: 1rem;
  transform: translateY(3rem);
  font-style: italic;
  transition: all 1s ease-in-out;
}

// Responsivness

@media screen and(max-width: 1720px) {
  .d2map {
    width: 40rem;
    height: 40rem;
  }
  .tournaments {
    flex-direction: column;
    width: 100%;
  }
}

@media screen and(max-width: 1430px) {
  .roster-box {
    .roster-players {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  .gallery {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  #composition-title {
    font-size: 4rem;
    padding: 3rem 0;
    text-align: center;
  }
}
@media screen and(max-width: 1138px) {
  .roster-box {
    .roster-players {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  .gallery {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .d2map {
    width: 40rem;
    height: 40rem;
    margin-top: 15rem;
  }
  .tournaments {
    flex-direction: column;
  }
}
@media screen and(max-width: 856px) {
  .roster-players {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
