$darkblue: #151d3b;
$red: #d82148;
$red2: #dd4a48;
$green: #6ebf8b;
$green2: #ecb390;
$beige: #dadbbd;
$beige2: #c0d8c0;
$white: #f5eedc;
$fire: #fdf482;
$purple: #7456d1;

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

#scroll-button {
  position: fixed;
  bottom: 2rem;
  color: $purple;
  right: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  text-decoration: none;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

#scroll-button:hover {
  transform: scale(1.5);
}

.container {
  --blur: 0.35rem;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    // chrome, edge, safari, ...
    backdrop-filter: blur(var(--blur));
  }
}

.element-upfront {
  position: absolute;
  top: 50%;
  z-index: 101;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-btn {
  text-decoration: none;
  padding: 2rem 2rem;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  font-family: input-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
  color: $fire;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3.5rem;
  font-size: 2rem;
  font-style: normal;
  transition: all 250ms ease-in-out;
  filter: drop-shadow(0.5rem 0.5rem 1.5rem black);
}
.homepage-btn:hover {
  transform: scale(1.3);
  color: $white;
  filter: drop-shadow(0.5rem 0.5rem 1.5rem black);
}

.element-upfront .quote {
  font-family: input-sans, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 2.5rem;
  text-align: center;
  color: $fire;
  margin-bottom: 3rem;
  transition: all 250ms ease-in-out;
  filter: drop-shadow(0.1rem 0.1rem 0.05rem black);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3.5rem;
  padding: 2rem 2rem;
}

.element-upfront .quote:hover {
  transform: scale(1.1);
  color: $white;
  filter: drop-shadow(0.5rem 0.5rem 1.5rem black);
}

body {
  height: 10000px;
  background-color: $white;
}

#navigation {
  position: fixed;
  width: 100%;
}

.nav-btn,
.logo-btn {
  font-family: apparat, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  text-decoration: none;
  color: $darkblue;
  padding: 2rem 2rem;
  transition: all 200ms ease-in-out;
}
.nav-btn {
  position: relative;
  a {
  }
}

.nav-btn:hover {
  border-bottom: 0.6rem solid $purple;
  font-family: apparat, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: $darkblue;
  background-color: $white;
}

ul.list {
  list-style: none;
  background-color: $red2;
  display: flex;
  justify-content: center;
  padding: 2rem 2rem;
  align-items: center;
}

li.logo,
li.last {
  margin-right: auto;
}
li.logo a {
  color: $white;
}

li.logo a:hover {
  color: $darkblue;
}
