/* Homepage Responsivness */

:root {
  --darkblue: #151d3b;
  --red: #d82148;
  --red2: #dd4a48;
  --green: #6ebf8b;
  --green2: #ecb390;
  --beige: #dadbbd;
  --beige2: #c0d8c0;
  --white: #f5eedc;
  --fire: #fdf482;
  --purple: #7456d1;
  --purple2: #18191e;

  --hovergrd: linear-gradient(
    109.6deg,
    rgb(243, 136, 136) 11.2%,
    rgb(196, 157, 247) 75.1%
  );
}

/* Active Class */

li a.active {
  background: none;
  color: var(--purple);
}

#bg-image {
  background: url("../img/tastatic.jpg") no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  filter: blur(0.5rem);
}

.homepage-btn {
  text-decoration: none;
  padding: 2rem 2rem;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  font-family: input-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
  color: var(--purple);
  font-size: 2rem;
  font-style: normal;
  filter: drop-shadow(0.5rem 0.5rem 1.5rem black);
}

.homepage-btn:hover {
  transform: scale(1);
  color: var(--white);
}

.element-upfront .quote {
  font-family: input-sans, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  filter: drop-shadow(0.1rem 0.1rem 0.05rem black);
  padding: 2rem 2rem;
}

.element-upfront .quote:hover {
  transform: scale(1);
  color: var(--white);
}

#scroll-button:hover {
  transform: scale(1);
}

#navigation {
  position: static;
}

li.logo a {
  line-height: 8rem;
}

ul.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 3.7rem;
}
.nav-btn:hover {
  color: var(--red2);
  border: none;
}

.case {
  display: flex;
  align-items: center;
  justify-content: center;
}

.case h1 {
  margin-left: 0;
}

.case .btn {
  margin-left: 0;
}

.case .btn:hover {
  border: none;
  color: var(--parimary);
  background-color: var(--white);
  transform: scale(1);
}

.article-case {
  width: 100%;
  height: 350rem;
  margin: 0 auto;
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(32rem, 0.3fr));
  grid-gap: 2rem;
  justify-content: center;
}

#mobile-first-img {
  background: url("../img/mobile-first-img.jpg") no-repeat center center/cover;
  height: 28rem;
  width: 100%;
}

#mobile-second-img {
  background: url("../img/mobile-second-img.jpg") no-repeat center center/cover;
  height: 28rem;
  width: 100%;
}
#mobile-third-img {
  background: url("../img/mobile-third-img.jpg") no-repeat center center/cover;
  height: 28rem;
  width: 100%;
}
#mobile-fourth-img {
  background: url("../img/mobile-fourth-img.jpg") no-repeat center center/cover;
  height: 28rem;
  width: 100%;
}
#mobile-fifth-img {
  background: url("../img/mobile-fifth-img.png") no-repeat center center/cover;
  height: 28rem;
  width: 100%;
}
#mobile-six-img {
  background: url("../img/mobile-six-img.png") no-repeat center center/cover;
  height: 28rem;
  width: 100%;
}

.card__title {
  font-size: 2.2rem !important;
}
.card__description {
  font-size: 2rem !important;
}
.card__link {
  font-size: 2rem !important;
}

.card__image {
  display: none;
}

.article-case .card {
  border: none;
}

.article-case .card:hover {
  transform: scale(1);
  border: none;
}

#news-title {
  font-size: 3rem !important;
  text-align: center;
}

#bottom-quote {
  font-size: 2rem !important;
  text-align: center;
}

/* Footer and Contact Details */

.contact {
  width: 90%;
  padding: 2rem;
  margin: 0 auto;
  height: 30rem;
  background-color: $primary;
  display: grid;
  grid-template-columns: repeat(1, minmax(16rem, 0.3fr));
  grid-gap: 5rem;
  justify-content: center;
  align-items: center;
}
.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.2rem dashed #33353f;
  padding: 5rem;
  line-height: 4rem;
  text-align: center;
  transition: all 250ms ease-in-out;
}

.contact-details:hover {
  transform: scale(1);
}

.icon:hover {
  transform: scale(1);
}

#main-footer {
  width: 90%;
  margin: 5rem auto;
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(16rem, 0.9fr));
  justify-content: flex-end;
  text-align: center;
}
#main-footer p {
    font-family: apparat, sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
  }
}
