/* Homepage Responsivness */

:root {
  --darkblue: #151d3b;
  --red: #d82148;
  --red2: #dd4a48;
  --green: #6ebf8b;
  --green2: #ecb390;
  --beige: #dadbbd;
  --beige2: #c0d8c0;
  --white: #f5eedc;
  --fire: #fdf482;
  --purple: #7456d1;
}

#bg-image,
.backdrop {
  background: url("/public/img/tastatic.jpg") no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  filter: blur(0.5rem);
}

.homepage-btn {
  text-decoration: none;
  padding: 2rem 2rem;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  font-family: input-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
  color: var(--purple);
  font-size: 2rem;
  font-style: normal;
  filter: drop-shadow(0.5rem 0.5rem 1.5rem black);
}

.homepage-btn:hover {
  transform: scale(1);
  color: var(--white);
}

.element-upfront .quote {
  font-family: input-sans, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  filter: drop-shadow(0.1rem 0.1rem 0.05rem black);
  padding: 2rem 2rem;
}

.element-upfront .quote:hover {
  transform: scale(1);
  color: var(--white);
}
